@use '../../styles' as *;

.record {
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        @include textStyle($darkBlue, 1.2rem, 500);
        background-color:#B3E5FC;
        padding: 10px;
}

.wrapper {
    margin-top: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



