@use '../../styles' as *;

.container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.name {
    h1 {
        @include textStyle($darkBlue, 1.5rem, 500);
        // color: $darkBlue;
        // font-weight: 500;
    }
    .place {
        margin-top: 10px;
        display: flex;
         
        // span:first-child {
        //     // margin-bottom: 100px;
        // }
        span:last-child {
            margin-right: 2px;
        }
    }
}

.explanations {
    display: flex;
    flex-direction: column;
    gap: 15px;
 
    p:first-child {
        color: $darkBlue;
    }
}





@include laptop {
    .container {
        align-items: center;
        // justify-content: center;
        text-align: center;
    }


}