@use '../../styles' as *;

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.wrapper {
    border: 2px solid rgb(182, 182, 215);
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px; 
}

.adv {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    border: 2px solid rgb(182, 182, 215);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.type {
    display: flex;
    justify-content: space-between;

    .icon {
        display: flex;
        align-items: center;
        padding: 3px;
        background-color: $blue;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    .visit {
        display: flex;
        align-items: center;
        gap: 3px;
        color: $darkBlue;
        cursor: pointer;

        span:first-child {
            margin-bottom: 7px;
        }
    }
}

.place {
    display: flex;
    align-items: center;
    gap: 1px;

    span:first-child {
        margin-top: 5px;
    }
}

.buttons {
    margin-top: 20px;
    display: flex;
    gap: 25px;

    .edit {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        width: 100%;
        padding: 5px;
        outline: none;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        font-size: 1rem;
        height: 40px;
        border: 2px solid #00C853;
        color: #00C853;
    }
    
    a {
        display: flex;
        align-items: center;
        gap: 5px;
        width: 100%;

        span:last-child {
            margin-top: 7px;
        }
    }
}

.none {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    @include textStyle($red, 1.2rem, 400);
    background-color: #FFCDD2;
    padding: 10px;
}

@include tablet {
    .none {
        width: 60%;
        text-align: center;
        margin: 0 auto 0;
    }
}

@include mobile {
    .none {
        width: fit-content;
    }
}