@use '../../styles' as *;

.container {
    width: 100%;
    margin-top: 50px;
    display: flex;
    gap: 3%;

    .main {
        width: 80%;
    }

    .aside {
        width: 17%;
    }
}

@include laptop {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;

        .main {
           width: 100%;
        }
 
        .aside {
           width: 200px;
        }
    }
}