@use '../../../styles' as *;

.facilities {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    
    button {
        gap: 3px;
        padding: 4px 8px;
        width: 80px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        cursor: pointer;
        background-color: $darkBlue;
        color: #eaeaea;
        margin-top: 15px;
    }
}

.options {
    display: flex;
    align-items: center;
    gap: 10px;

    .option {
        outline: none;
        border: 1px dashed black;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        padding: 0 8px;
        width: 220px;
        height: 30px;
        margin-top: 13px;
    }

    .delete {
    background-color: #fafafa;
    color: #E53935;
    border: 2px solid #E53935;
    padding: 2px 10px;
    height: 30px;
    
    span {
        margin-top: 3px;
    }
  }
}


@include mobile {
    .facilities {
        button {
            padding: 2px 4px;
            width: 65px;
            gap: 2px;
        }
    }

    .options {
        .option {
            width: 180px;
        }
    }
}