@use '../../../styles' as *;

.categories {
    margin-top: 10px;
    display: flex;
    gap: 30px;

    div {
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;    
        display: flex;
        align-items: center;
        background-color: $lightBlue;
        padding: 3px 6px;
        gap: 5px;
        @include textStyle($darkBlue, 1rem, 300);
    }
}

@include tablet {
    .categoryPart {
       display: flex;
       flex-direction: column;
       align-items: center;
    }

    .categories {
        gap: 20px;
    }
}

@include mobile {
    .categories {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}